
@font-face {
  font-family: 'Calibre-Semibold';
  src: url('Calibre-Semibold.eot?#iefix') format('embedded-opentype'),  url('Calibre-Semibold.woff') format('woff'), url('Calibre-Semibold.ttf')  format('truetype'), url('Calibre-Semibold.svg#Calibre-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
